h1 {
  position: relative;
  display: block;
  height: 157px;
  margin: 70px 71px 0 71px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

h5 {
  position: relative;
  display: block;
  height: 117px;
  margin: 137px 71px 0 71px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

form {
  position: relative;
  display: block;
  min-height: 162px;
  margin-top:135px;
}



.radio-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  margin-left: 275px;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;

}

.radio-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  margin-left: 275px;
}


.radio-group label {
  margin-left: 0;
  margin-right: 275px;
}
.radio-group input[type="checkbox"]{
  width: 40px;
  height: 38px;
  margin-left: 52px;
  margin-right: 52px;
}
.radio-group input[type="radio"]{
  border-radius : 0;
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
  width: 40px;
  height: 38px;
  margin-left: 52px;
  margin-right: 52px;
}

.form-group .form-input {
  width: 868px;
  height: 98px;
  margin: 32px 268px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.form-number {
  width: 868px;
  height: 98px;
  margin: 32px 268px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

button.submit {
  position: relative;
  margin-top: 72px;
  margin-left: 605px;
  margin-right: 605px;
  width: 215px;
  height: 88px;
  background: #03DCC9;
  border: 10px solid #FF4365;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #0B3954;
}

.form-wrapper2 {
  position: relative;
  display: block;
  min-height: 162px;
  margin-top: 135px;
  margin-right: 135px;
}

.form-wrapper2 > form >div {
  font-size: 24px;
  line-height: 32px;
}
.form-wrapper2 > form >div > label {
  display: flex;

}
.form-wrapper2 > form > .form-group {
  margin-left: 275px;
}
