h1 {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

h5 {
  position: relative;
  display: block;
  height: 117px;
  /* margin: 137px 71px 0 71px; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

form {
  position: relative;
  display: block;
  min-height: 162px;
  margin-top:65px;

}



.radio-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  justify-content: space-between;
  display: flex;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

}

.radio-group {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  flex-wrap: wrap;
}


.radio-group label {

}
.radio-group input[type="checkbox"]{
  width: 40px;
  height: 38px;
  margin-left: 52px;
  margin-right: 52px;
}
.radio-group input[type="radio"]{
  border-radius : 0;
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
  width: 40px;
  height: 38px;
  /* margin-left: 52px; */
  /* margin-right: 52px; */
}

.form-group .form-input {
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  height: 98px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.form-number {
  margin: 0 auto;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

button.submit {
  position: relative;
  width: 215px;
  height: 88px;
  margin: 30px auto;
  background: #03DCC9;
  border: 10px solid #FF4365;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #0B3954;
}

.form-wrapper {
  height: calc(100vh - 140px);
  margin: 70px;
}

.form-wrapper h5 {
  height: auto;
  min-height:22px;
}

.form-wrapper2 {
  position: relative;
  display: block;
  height: calc(100vh - 140px);
  margin:70px;
  text-align: center;
}

.form-wrapper2 > form >div {
  font-size: 24px;
  line-height: 32px;
  margin: 20px auto;
}
.form-wrapper2 > form >div > label {
  display: flex;

}

.form-wrapper2 > form > p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  display: flex
}
