<div appScroller id="scroller">
  <article class="Ta(c)">
    <h2>Test the browser extension</h2>
    <p>We need volunteers to help with user research. If you think this issometing you’d like to do then reach out to us
      on Twitter.</p>

    <h2>Contribute</h2>
    <h3>How much time do you have?</h3>
    <h4>Less than 10 minutes</h4>
    <p>
      Talk to your friends and family about online misogyny.<br>
      Reach out to us on Twitter to let us know what you think
    </p>
    <h4>Less 30 minutes</h4>
    <p>
      Post about Opt Out Tools on social media with our Twitter handle<br>
      <a href="https://twitter.com/optoutools">@optoutools</a>.<br>
      If you can code, head over to our start here repo on
      <a href="https://github.com/opt-out-tools/start-here">github</a>
      - look through the open issues for a problem that is small and
      sweet to fix!
    </p>
    <h4>1+ hour</h4>
    <p>
      If you can code, head over to our start here repo on
      <a href="https://github.com/opt-out-tools/start-here">github</a>
      and get involved.
    </p>
    <p>
      <strong>
        We need designers, GDPR advice and many more things so if you think you can contribute and we
        haven’t listed how here, reach out on Twitter.
      </strong>
    </p>
  </article>
  <article class="Ta(c)">
    <h2>Donate</h2>
    <p>
      <strong>We need help. </strong>We want to carry on delivering software that solves real-world problems. With support
      from you, we can do this. We can:
    </p>
    <p>
      Make our modeling as accurate and identity inclusive as possible:<br>
      Misogyny is multilingual, and so should our browser extension<br>
      Research how we can better aid reporting abuse to Twitter
    </p>

    <p>
      OOT is currently a community of around 15 maintainers and a few occasional contributors. We are all
      working in our spare time making this happen without financial support from external investors. Your
      money will help us cover our running costs such as online safety training or GDPR and legal advice.
    </p>
    <button routerLink="/donate" class="button-primary">Donate</button>
  </article>
</div>
