<div appScroller id="scroller">
  <article class="Ta(c) contribute">
    <h2>Test the browser extension</h2>
    <p>We need volunteers to help with user research. If you think this is something you’d like to do then reach out to us
      on <a routerLink="/twitter">Twitter</a>.</p>

    <h2>Contribute</h2>
    <h3>How much time do you have?</h3>
    <h4>Less than 10 minutes</h4>
    <ul>
      <li>Talk to your friends and family about online misogyny.</li>
      <li>Reach out to us on <a routerLink="/twitter">Twitter</a> to let us know what you think.</li>
    </ul>
    <h4>Less than 30 minutes</h4>
    <ul>
      <li>Post about Opt Out Tools on social media with our Twitter handle
      <a routerLink="/twitter">@optoutools</a>.</li>
      <li>If you can code, head over to our <a href="https://github.com/opt-out-tools/start-here">start-here</a> repository on
      <a routerLink="/github">Github</a>
      - look through the open issues for a problem that is small and
      sweet to fix!</li>
    </ul>
    <h4>1+ hour</h4>
    <p>
      If you can code, head over to our <a href="https://github.com/opt-out-tools/start-here">start-here</a> repository on
      <a routerLink="/github">Github</a> and get involved.
    </p>
    <p>
      <strong>
        We need designers, GDPR advice and many more things so if you think you can contribute and we
        haven’t listed how here, reach out to us on <a routerLink="/twitter">Twitter</a>.
      </strong>
    </p>
  </article>
  <article class="Ta(c)">
    <h2>Donate</h2>
    <p>
      <strong>We need help.</strong> We want to carry on delivering software that solves real-world problems. With your financial support, we can:
    </p>
    <ul>
      <li>Make our <a routerLink="/tech">modeling</a> as accurate and <a routerLink="/research">identity-inclusive</a> as possible</li>
      <li>Make our browser extension multilingual</li>
      <li>Research how we can better aid reporting abuse to Twitter</li>
    </ul>

    <p>
      OOT is currently a <a routerLink="/about">community of around 15 maintainers</a> and a few occasional contributors. We are all
      working in our spare time making this happen without financial support from external investors. Your
      money will help us cover our running costs such as online safety training or GDPR and legal advice.
    </p>
    <button routerLink="/donate" class="button-primary">Donate</button>
  </article>
</div>
