<div class="about-us-page">
  <div class="about-text border-left">
    <h1>WHO WE ARE.</h1>
    <p>We are an international collective of coders, data analysts, gender theorists, activists and academics. We began
      in april 2019, and our team of contributors has been growing since. Together, we are creating tools to help
      ourselves and our sisters to opt out of sexist hate speech. We want women to have full and equal access to digital
      spaces so that they can join political debate without fear of being silenced.</p>
  </div>
  <div class="about-text about-columns border-left border-right">
    <div class="about-vision">
      <h3>Our Vision</h3>
      <p>To bring an end to violence against woman online</p>
    </div>
    <div class="about-mission">
      <h3>Our mission</h3>
      <p>To create tools that enable woman to take back control</p>
    </div>
  </div>
</div>
