div.about-us-page {
  height:calc(100vh - 100px);
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2E3532;
  margin-top: 100px;
}

h1 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}


div#about-text {
  display: block;
  margin: 50px 50px;
  padding: 0 15px;
  border-left: 2px solid black;
}

div#about-text2 {
  display: flex;
  margin: 0px 50px;
  align-items: center;
  justify-content: space-between;
}

div#about-text2 > p {
  text-transform: uppercase;
  width: 200px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
#vision {
  text-align: left;
  border-left: 2px solid black;
}
#mission {
  text-align: right;
  border-right: 2px solid black;
}
