<div class="single-page">
  <h1>Our Tools</h1>
  <div class="container-columns">
    <div class="column align-left">
      <h2>Browser Extension</h2>
    </div>
    <div class="column side-text border-right">
      <p>
        Our first tools is a browser extension that works like adBlocker but removes misogyny instead of adverts
        allowing you to cut trough the noise and focus on healthy debate!
      </p>
      <p>It uses a machine learning algorithm, that is improved and updated by you.</p>
      <p>
        Opt Out will hide any text it considers to be misogynistic. If you don't want to read it, you don't have to.
        The comment will be automatically reported to the moderators of the social media platform, and sent to our
        database, so there will be records to support reporting the incident.
      </p>
      <p>
        We want to lighten the load of emotional labour. Research shows that when handling abuse, victims ask friends
        and family to help them to screen their social media to protect them from the emotional distress. No one should
        have to deal with this abuse.
      </p>
    </div>
  </div>

  <div class="container-columns">
    <div class="column align-left">
      <h2>This Website</h2>
    </div>
    <div class="column side-text border-right">
      <p>This website aims to support women getting their voices back.</p>
      <p>
        Here an individual can anonymously submit details of their harassment. This data will be stored, studied and
        feed the models that our other tools use, for example the browser extension.
      </p>
      <p>
        We hope to one day show usage statistics of the tools and show women clearly how their submissions are helping
        to keep their online sisters safe.</p>
      <p>
        Our long-term goal is to display a “virtual” harass map on our website, showing which communities on your
        selected social media platform are misogynstic or sexually aggressive or just downright abusive, enabling women
        to navigate the murky waters of online society as best they can.
      </p>
    </div>
  </div>

  <div class="container-columns">
    <div class="column align-left">
      <h2>Activism</h2>
    </div>
    <div class="column side-text border-right">
      <p>
        We’re holding workshops that give women a chance to meet and share their experiences online and in doing so act
        in a form of protest.
      </p>
      <p>
        This helps us identify needed technical infrastructure and ensures that our tools are fit for purpose enabling
        our tech to be as community-driven as possible.
      </p>
    </div>
  </div>
</div>

