<div appScroller id="scroller">
  <article class="Ta(c)">
    <h1>How we define online misogyny</h1>
    <p>
      At OOT, we understand misogynistic online harassment to be any verbal, visual or physical harassment and abuse
      rooted in misogyny that is threatened, carried out and/or amplified online. Misogyny is more than the individual
      “hatred” of women. Misogyny is structural; it predominantly targets women and serves to enforce gendered social
      norms and expectations in a patriarchal, hetero- and cisnormative world.
    </p>
    <p>
      Misogyny is also intersectional. That is, misogyny is experienced differently by people with different
      intersecting identities along the lines of gender, race, sexuality, disability, social class, ethnicity or
      nationality, religion and so on.
    </p>
    <p>
      We use the term “online” to describe misogynistic harassment that is facilitated and/or amplified by online means.
      Abuse takes place on an offline-online continuum. Harassment on online platforms or by means of internet-based
      communication can be as damaging as harassment on the streets, the workplace or the home. The effects of
      misogynistic online harassment are psychological as well as physical and material. The ramifications of a rape
      threat online can be just as severe as their offline counterpart.
    </p>
  </article>
</div>
