div {
  display: flex;
}

p {
  position: relative;
  //display: inline-flex;
  width: 575px;
  height: 510px;
  left: 102px;
  top: 290px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #2E3532;
}

img {
  position: absolute;
  width: 221px;
  height: 212px;
  left: 947px;
  top: 340px;
  //display: inline-flex;
}

a~p {
  position: absolute;
  width: 483px;
  height: 50.54px;
  left: 840px;
  top: 592px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #2E3532;

}
