<div>
  <h1 class="mt-5">Survey</h1>
  <form id="surveyForm" class="form form-survey" method="POST" action="" role="form">

    <div class="form-group">
      <label for="age">
        <span>{{ ageLabel }}</span>
        <input class="form-control" id="age" type="number" placeholder="We won't tell anyone.." min="1" max="3" required>
      </label>
    </div>
    <div class="form-group">
      <label for="identity">
        <span>{{ identityLabel }}</span>
        <input class="form-control" id="identity" type="text" placeholder="Female, Transgender Female.." min="1" max="3" required>
      </label>
    </div>
    <div class="form-group">
      <label for="interaction">
        <span>{{ interactionLabel }}</span>
        <input class="form-control" id="interaction" type="text" placeholder="Are you an addict or occasional user" min="1" max="3" required>
      </label>
      <small id="emailHelp" class="form-text text-muted">This process is anonymous.</small>
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>
</div>
