<div class="about-us-page">

  <div class="about-text border-left about-columns">
    <div class="column">
      <img src="assets/img/about/Intersectionality.png" alt="intersectionality"/>
      <h4>Intersectionality</h4>
      <p>
        Whilst misogyny affects all woman, for our BAME and LBTQ+ sisters sexist abuse is often combined with racism,
        transphobia and homophobia. Our data sets are multi-labeled so our tools can detect those complex instances of
        abuse.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Community.png" alt="community"/>
      <h4>Community</h4>
      <p>
        We want our movement to connect woman beyond borders. Our backgrounds are various, but the beauty of the online
        space is that we can connect through our experiences. We are also running workshops and meet-ups where we
        socialise and mobilise.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Equality.png" alt="equality"/>
      <h4>Equality</h4>
      <p>
        Our belief in equality is the driving force at Opt Out. When a woman's access to internet is compromised, they
        can be impacted socially, politically and economically.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Advocacy.png" alt="advocacy"/>
      <h4 class="border-right">Advocacy</h4>
      <p class="border-right">
        Woman ought to be able to exist in the virtual world without fear of threats against their bodies. We are
        advocating for Big Tech and governmental policy to take online misogyny seriously and hold perpetrators accountable.
      </p>
    </div>
  </div>
</div>
