<div class="about-us-page">

  <div id="about-text">
    <div class="container">
      <div class="column">
        <img src="assets/img/about/Intersectionality-processed.png" alt=""/>
        <h2>Intersectionality</h2>
        <p>Whilst misogyny affects all woman for our BAME and LBTQ+ sisters sexist abuse is often combined with racism, transphobia and homophobia. Our data sets are multilabeled so our tools can detect those complex instances of abuse.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/Community-processed.png" alt=""/>
        <h2>Community</h2>
        <p>We want our movement to connect woman beyond borders. Our background are various, but the beauty of the online space is that we can connect through our experiences. We are also running workshops and meet-ups where we socialise and mobilise.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/Equality-processed.png" alt=""/>
        <h2>Equality</h2>
        <p>Belief in equality is the driving force at Opt Out. When a woman's access to internet is compromised, they can be impacted socially, politically and economically.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/Advocacy-processed.png" alt=""/>
        <h2>Advocacy</h2>
        <p class="side-border">Woman ought to be able to exist in the virtual world without fear of threats against their bodies. We are advocating for Big Tech and governmental policy to take online harassment seriously and hold perpetrators accountable.</p>
      </div>
    </div>
  </div>
</div>
