<div class="about-us-page" id="about-page2">
  <h1>OUR CORE VALUES</h1>
  <div class="about-text border-left about-columns">
    <div class="column">
      <img src="assets/img/about/Empowerment_3.png" alt="empowerment"/>
      <h4>Empowerment</h4>
      <p>
        We encourage reporting of abuse and promote a safe space to share experiences; our focus isn't on
        re-victimization, but instead on communication and support. We provide the tools to enable and empower
        ourselves and each other.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Inclusivity_3.png" alt="inclusivity"/>
      <h4>Inclusivity</h4>
      <p>
        All woman face misogyny in some form. Unfortunately, there is a data gap when it comes to misogyny against
        certain groups such as queer woman and woman of colour. We actively encourage participation from minority
        groups as this helps improve our models.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Open Source_3.png" alt="open_source"/>
      <h4>Open Source</h4>
      <p>
        Experience sharing and community support is vital to our activism, as is starting dialogs between us. Our tech
        is open-source, and we believe in promoting growth trough knowledge and skill sharing.
      </p>
    </div>
    <div class="column">
      <img src="assets/img/about/Privacy_3.png" alt="privacy"/>
      <h4 class="border-right">Privacy</h4>
      <p class="border-right">
        When it comes to your data, we believe in transparency. We see ourselves as an extension GDPR; our models our
        taught through crowd sourced data, given to us freely trough active participation.
      </p>
    </div>
  </div>
</div>
