<div class="about-us-page" id="about-page2">
  <div id="about-text">
    <h1>OUR CORE VALUES</h1>
    <div class="container">
      <div class="column">
        <img src="assets/img/about/Empowerment-processed.png" alt=""/>
        <h2>Empowerment</h2>
        <p>We build safe spaces online through automatic reporting of detected misogyny. Our focus isn't on victimization, but accountability.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/Inclusivity-processed.png" alt=""/>
        <h2>Inclusivity</h2>
        <p>All woman face misogyny in some form. We actively encourage participation from minority groups as this helps improve our models.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/Open Source-processed.png" alt=""/>
        <h2>Open Source</h2>
        <p>Our tech is open-source and as community-driven as it can be. We believe in growth by our community, not just for.</p>
      </div>
      <div class="column">
        <img src="assets/img/about/privacy-processed.png" alt=""/>
        <h2>Privacy</h2>
        <p class="side-border">When it comes to your data, we believe in transparency. We never do anything with your data you don't consent to.</p>
      </div>
    </div>
  </div>
</div>
