.parent {
  height: 100vh;
  scroll-snap-type: y mandatory;
}

@-moz-document url-prefix() {
  .parent {
    overflow-y: scroll;
  }
}

.child {
  scroll-snap-align: end;
}

.single-page {
  height:calc(100vh - 45px);
  padding: 45px 50px 0;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2E3532;
}

h1 {
  margin: 0 0 10px;
}

.container-text {
  padding: 0 15px 5px;
  & > h1 {
    margin: 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
  & > p {
    margin-top: 0;
    font-size: 14px;
  }
}

.container-columns {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
}

.column {
  flex-basis: 24%;
  min-width:160px;
  text-align: center;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    padding: 2px 14px 3px 5px;
    font-size: 14px;
    text-align: left;
  }
  img {
    height: 70px;
    padding: 20px 0;
  }
}

.side-text {
  flex-basis: 74%;
}

.border-left {
  border-left: 2px solid black;
}
.border-right {
  border-right: 2px solid black;
}

.align-left {
  text-align: start
}

.aside {
  min-width:160px;
  flex-basis: 25%;
  text-align: start;
  font-weight: 600;
}

.aside-h1 {
  padding-top: 40px;
  font-size: 50px;
  line-height: 48px;
}

.aside-p {
  font-size: 20px;
}

.extender-div-1 {
  height: 75px;
}
