@import "../../../variables.scss";

.techIntro_p {
  margin-bottom: 5rem;
  text-align: center;
}

.labeling {
  padding-top: 0.3rem;
  h2 {
    margin-block-start: 0.5rem;
    margin-block-end: 0;

  }
  h3 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.2rem;
  }
  p {
    margin-block-start:0;
    margin-block-end: 0;
    line-height: 1.2rem;
  }

  .color_1 {
    color: $highlight;
  }

  .color_2 {
    color: $primary;
  }

  .color_3 {
    color: $secondary;
  }

  & > aside {
    margin-block-start: 0.3rem;
    color: $textGray1;
    font-size: 0.8rem;
    text-align: center;
  }
  & > .footnote {
    margin-block-start: 0.5rem;
    line-height: 0.8rem;
  }
}

.column-single-left {
  width: 40%;
  margin-left: 5%;
  margin-right: auto;
}

.column-single-right {
  width: 40%;
  margin-left: auto;
  margin-right: 5%;
}

a {
  color: $primary;
  text-decoration: none;
}

.centered {
  display: flex;
  * {
    margin: auto;
  }
}


