@import "../../../variables.scss";

.support_logo {
  width: 22rem;
}

a {
  color: $primary;
}

.values {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    line-height: 1.5;
    padding-left: 1em;
    text-indent: -.7em;
    width: 30%;
    h2 {
      margin-block-end: 0;
      text-indent: -1em;
    }
    h2::before {
      content: "•";
      color: $primary;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    h2.purple::before {
      color: $secondary;
    }
  }

}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.portrait {
  display:flex;
  text-align: left;
  justify-content: space-between;
  .portrait_pic {
    position: relative;
    width: 25%;
    height: auto;
    border-radius: 0.5rem;
  }
  aside {
    width:73%;
  }
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.noScroll {
  height: auto;
}

article {
  padding-top: 0;
  height:auto;
  margin: 2rem $margin 2rem;
}




