<div id="scroller">

  <article class="Ta(c)">
    <h1>Vision</h1>
    <p>
      At Opt Out Tools, affectionately known as OOT, we're building tech to help everyone with something to say to
      participate in healthy online discussion safely.
    </p>
    <p>
      We want social media platforms to be a respectful place where anyone can comment without fear if misogynistic
      backlash. We want online debate to be inclusive so all voices can flourish. We want social networks to be safer
      places for all.
    </p>
    <p>
      We want to achieve this by building tools and an organization with consent, privacy and transparency at their core.
    </p>
  </article>

  <article>
    <h1>Values</h1>
    <p>
      We align with the <a href="https://feministinternet.org/">feminist principles of the internet</a>, but specifically champion the values below.
    </p>
    <ul class="values">
      <li><h2>Transparency</h2>  We want to pioneer transparent tech, communicating our decisions and limitations as clearly as possible</li>
      <li><h2 class="purple">Respect</h2> We want fruitful online conversations to prosper and misogynistic harassment to die down</li>
      <li><h2 >Not Censorship</h2> We will not decide what misogyny is nor will you, both we and you get a say</li>
      <li><h2 class="purple">Inclusivity</h2> We want all respectful voices to flourish</li>
      <li><h2>Open source</h2> Because being safe online should be available to everyone</li>
      <li><h2 class="purple">Security</h2> Ensuring that an individual is safe is top priority</li>
    </ul>
  </article>

  <article class="Ta(c) noScroll">
    <h1>Team</h1>
    <section>
      <h2>Maintainers</h2>
      <p>
        At Opt Out Tools, maintainers are the people who have committed to moving the project forward, collaborating
        relentlessly on Slack and during our weekly hack nights at Mozilla Berlin! Meet some of the core members of the
        team behind the technology!
      </p>
      <div class="portraits">
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/teresa.png" alt="teresa_pic">
          <aside>
            <h3>Teresa Ingram, Opt Out Tools founder</h3>
            <p>
              A cyber activist currently working to help make the internet accessible for all. Teresa came into the
              tech industry after a degree in Chemistry and a first job as a Java Developer for a bank. As the only
              woman in a man-club team, Teresa understood the struggle of women being silenced offline and she decided
              to build something that could empower women on the internet!
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/cheuk.png" alt="cheuk_pic">
          <aside>
            <h3>Cheuk Ting Ho</h3>
            <p>
              After doing research in theoretical physics, Cheuk has transferred her analytical and logical skills in
              natural science and built a career in data science. After having a career as a Data Scientist, Cheuk now
              brings her knowledge in data and passion for the tech community into TerminusDB as the developer relations
              lead.
            </p>
            <p>
              Cheuk constantly contributes to the open-source community by giving AI and deep learning workshops and
              organize sprints to encourage contributions. Cheuk has also been a guest speaker at various conferences
              and co-organize AI Club for Gender Minorities to support Diversity and Inclusion.
            </p>
            <p>
              Cheuk join the Opt Out Tools team hoping we could have a more inclusive internet for everyone.
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/matteo.png" alt="matteo_pic">
          <aside>
            <h3>Dr. Matteo Guzzo</h3>
            <p>
              A Physicist by training, Matteo is a freelance Data Scientist. He's an avid learner and ready to explore
              all unexpected things, related to Data or not. An organizer of the local meetup PyBerlin, he tries to help
              the community by making it an inclusive and safe space. 
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/andrada.png" alt="andrada_pic">
          <aside>
            <h3>Andrada Pumnea</h3>
            <p>
              Andrada's biggest passion is using Data Science to decrease the digital divide; hate speech detection
              against female-identifying people is a big part of this. To Andrada, language defines our experience of
              the internet. To make the internet more inclusive and avoid people being excluded from important
              conversations, Andrada wants to contribute to the development of language technology that is fair and
              accurate for any language, especially when it comes to detecting and combating hate speech online.
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/sophie.png" alt="sophie_pic">
          <aside>
            <h3>Sophie Walker</h3>
            <p>
              After graduating from a degree in gender and sexuality studies, Sophie joined Opt Out Tools to combine
              academia with activism and to help build a supportive community online.
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/muaaz.png" alt="muaaz_pic">
          <aside>
            <h3>Muaaz Saleem</h3>
            <p>
              Muaaz dreams of developer-friendly infrastructures, inclusive online communities and lentils.
            </p>
            <p>He helps the engineering team at Opt Out Tools deliver without missing a step.</p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/lucie.png" alt="lucie_pic">
          <aside>
            <h3>Lucie Le Naour</h3>
            <p>
              After having worked as a technical translator and a machine translation language specialist, Lucie decided
              to combine her passion for tech, content and languages by becoming a multilingual technical writer. As a
              strong diversity and inclusion advocate, she focuses on empathizing with her user and their needs and
              tries to make everyone feel included in her work.
            </p>
            <p>
              Lucie joined Opt Out Tools to help those who do not have a voice on the internet. At Opt Out Tools, Lucie
              helps with all matters content-related, be it UX writing, technical writing or copywriting.
            </p>
          </aside>
        </div>
        <div class="portrait">
          <img class="portrait_pic" src="assets/img/portraits/nicole.png" alt="nicole_pic">
          <aside>
            <h3>Dr. Nicole Shephard</h3>
            <p>
              Nicole is a researcher, consultant and writer who takes an intersectional feminist perspective on topics
              like the politics of data, surveillance, online harassment, or diversity and inclusion in the workplace.
              A freelance tech-feminist, so to speak. 
            </p>
            <p>
              Nicole joined Opt Out Tools because she wants to contribute to an inclusive internet and thinks an
              interdisciplinary open source project is a great way of working towards that.
            </p>
          </aside>
        </div>

      </div>
    </section>
    <section>
      <h2>Contributors</h2>
      <p>
        Contributors are essential to the development of Opt Out Tools! Our project is open source and we are always
        looking for people to help us move faster. Check out our
        <a href="https://github.com/opt-out-tools/start-here/blob/master/CONTRIBUTING.md">contribution guidelines on Github</a>
        to learn how you can get involved.
      </p>
    </section>
  </article>

  <article class="Ta(c)">
    <h2>Acknowledgments</h2>
    <div class="imgWrapper">
      <a href="https://www.stickermule.com/">
        <picture>
          <img class="support_logo" src="assets/img/other/sticker-mule-logo-light-bg-stacked.svg" alt="support_logo_mule"/>
        </picture>
      </a>
      <a href="https://www.softerrific.com">
        <picture>
          <img class="support_logo" src="assets/img/other/softerrific-logo-gradient-main.svg" alt="support_logo_softerrific"/>
        </picture>
      </a>
    </div>
  </article>
</div>
