@import "../../../variables.scss";

.support_logo {
  width: 22rem;
}

a {
  color: $primary;
}

li {
  line-height: 1.5;
  list-style-type: circle;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

}
