<div appScroller id="scroller">

  <article>
    <h1>Vision</h1>
    <p>
      At Opt Out Tools, affectionately known as OOT, we're building tech to help everyone with something to say to
      participate in healthy online discussion safely.
    </p>
    <p>
      We want social media platforms to be a respectful place where anyone can comment without fear if misogynistic
      backlash. We want online debate to be inclusive so all voices can flourish. We want social networks to be safer
      places for all.
    </p>
    <p>
      We want to achieve this by building tools and an organization with consent, privacy and transparency at their core.
    </p>
  </article>

  <article>
    <h1>Values</h1>
    <p>
      We align with the feminist principles of the internet, but specifically champion the values below.
    </p>
  </article>

  <article>
    <h1>Team</h1>
    <div>
      <p> Team grid goes here
    </div>
  </article>

  <article>
    <picture>
      <img src="assets/img/other/softerrific-logo-gradient-main.svg" />
    </picture>
  </article>
</div>
