<div appScroller id="scroller">

  <article class="Ta(c)">
    <h1>Vision</h1>
    <p>
      At Opt Out Tools, affectionately known as OOT, we're building tech to help everyone with something to say to
      participate in healthy online discussion safely.
    </p>
    <p>
      We want social media platforms to be a respectful place where anyone can comment without fear if misogynistic
      backlash. We want online debate to be inclusive so all voices can flourish. We want social networks to be safer
      places for all.
    </p>
    <p>
      We want to achieve this by building tools and an organization with consent, privacy and transparency at their core.
    </p>
  </article>

  <article>
    <h1>Values</h1>
    <p>
      We align with the <a href="https://feministinternet.org/">feminist principles of the internet</a>, but specifically champion the values below.
    </p>
    <ul>
      <li><strong>Transparency</strong> – we want to pioneer transparent tech, communicating our decisions and limitations as clearly as possible</li>
      <li><strong>Respect</strong> – we want fruitful online conversations to prosper and misogynistic harassment to die down</li>
      <li><strong>Not Censorship</strong> – We will not decide what misogyny is nor will you, both we and you get a say</li>
      <li><strong>Inclusivity</strong> – we want all respectful voices to flourish</li>
      <li><strong>Open source</strong> – Because being safe online should be available to everyone</li>
      <li><strong>Security</strong> – ensuring that an individual is safe is top priority</li>
    </ul>
  </article>

  <article class="Ta(c)">
    <h1>Team</h1>
    <section>
      <h2>Maintainers</h2>
    </section>
    <section>
      <h2>Contributors</h2>
      <p>
        Contributors are essential to the development of Opt Out Tools! Our project is open source and we are always
        looking for people to help us move faster. Check out our contribution guidelines on Github to learn how you can
        get involved.</p>
    </section>
  </article>

  <article class="Ta(c)">
    <h2>Acknowledgments</h2>
    <a href="https://www.softerrific.com">
      <picture>
        <img class="support_logo" src="assets/img/other/softerrific-logo-gradient-main.svg" alt="support_logo"/>
      </picture>
    </a>
  </article>
</div>
