@import "../variables.scss";

/* Navigation */
hr {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: $primary;
  margin: 0;
}
.main-nav {
  position: fixed;
  top: 5px;
  width: 100%;
  height: 26px;
  background-color: #F1F1F2;
  display: grid;
  grid-template-columns: 75% 25%;
  box-shadow: inset 0 1px 5px #7B7B7C;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    li {
      list-style-type:none;
      margin:0
    }
  }
  ul#headButtons {
    justify-content: flex-start
  }
  ul#headLinks {
    justify-content: flex-end
  }
  .dropbtn {
    border: none;
    padding:0 10px;
    color: #0B3954;
    background-color: transparent;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
  }
}

/* Dropdown lists */
nav .dropdown-content  {
  display: none;
  position: absolute;
  background-color: #cbcbcb;
  font-size: 20px;
  padding: 1px;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type:none;
  margin:0;
  li a {
    color:#fff;
    display:block;
    float:left;
    font-size:.9em;
    padding:.5em .6em;
    text-decoration: none;
  }
  a:hover {
    background-color: #ddd;
  }
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #009ea4;}

.icon {
  height:20px; padding: 3px 5px;
}
