<!--The content below is only a placeholder and can be replaced.-->
<nav class="site-navigation" *ngIf="router.url !== '/report'">
  <ul>
    <li class="dropdown">
      <a routerLink="/"><img style="height:24px; padding: 1px 5px;" src="../assets/img/icons/icon.png" alt=""/></a>
    </li>
    <li class="dropdown">
      <button routerLink="/about" class="dropbtn" >About</button>
    </li>
    <li class="dropdown">
      <button routerLink="/work" class="dropbtn" >Work</button>
    </li>
    <li class="dropdown">
      <button class="dropbtn">Resources</button>
      <ul class="dropdown-content">
        <li class="laws"> <a routerLink="/laws" routerLinkActive="active">Laws</a> </li>
        <li class="studies"> <a routerLink="/studies" routerLinkActive="active">Studies and Reports</a> </li>
      </ul>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer *ngIf="router.url !== '/report'"></footer>
