@import "../variables.scss";

/* Navigation */
.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: $headHeight;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 75% 25%;
  background-color: $white;
  border-bottom: 1px solid $gray;
}

.main-nav {
  display: flex;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    li {
      list-style-type:none;
      margin:0
    }
  }
  ul#headButtons {
    justify-content: flex-start
  }
  ul#headLinks {
    justify-content: flex-end
  }
  .dropbtn {
    height: 3rem;
    padding:0 1rem;
    border: 2px solid transparent;
    border-radius: 12px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    color: #0B3954;
    background-color: transparent;
    cursor: pointer;
    @media (max-width: 1024px) {
      padding:0 0.5rem;
    }
  }
}

.nav-donate-btn {
  display: flex;
  width: 7.5rem;
  height: 2.5rem;
  margin: 0 1.25rem;
  justify-content: center;
  align-items: center;
  border: 2px solid $secondary;
  border-radius: 1.25rem;
  a {
    color: $secondary;
    text-decoration: none;
  }
  @media (max-width: 1024px) {
    width: 4rem;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border: 2px solid $primary;
}

.logo {
  height: 3rem;
  padding: 0.25rem 1rem 0;
  @media (max-width: 1024px) {
    height: 1.5rem;
    padding: 0.25rem 0.75rem 0;
  }
}




.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footHeight;
  z-index: 10;
  background-color: $white;
  border-top: 1px solid $gray;
  text-align: center;
  h3 {
    margin: 0.5rem auto;
    color: #0B3954;
  }
}

.footer-links {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  li {
    list-style-type:none;
    margin:0;
    padding: 0 1.5rem;
  }
}

.icon {
  height: 1.5rem;
  padding: 0;
}




