<div class="container">
  <h1 class="mt-5">Why does OptOut exist?</h1>
  <div class="row">
    <p class="lead"> The internet is an amazing invention, right? It has revolutionized we communicate to each other, it allows us to freely exchange information, to engage in debate, to connect with people across the world. Its a space where people can come together and exchange ideas, thoughts, products, skills, information. Unfortunately, as with many public spaces, women are feeling increasingly unsafe in them. So much so that we believe that the internet is becoming 'men-trified'.*
    </p>
  </div>
  <div class="row">
    <p class="lead"> Studies show that women are far more likely to experience online gender based harassment than men. This likelihood is increased further if you're Black or minority ethnicity, LGB, trans or queer, working class or differently abled. This sexual harassment varies from public attacks from anonymous trolls and inappropriate direct messages right through to online stalking, death and rape threats.
    </p>
  </div>
</div>
