<div class="single-page">
  <div class="group">
    <div class="container">
      <aside>
        <h1>Impact</h1>
      </aside>
      <div class="side-text side-border-right">
        <p>Victims of online misogyny experience a sense of fear and attack on their integrity. Amnesty international found that of the woman who experienced abuse or harassment online, 41% of responding woman felt that their physical safety was threatened and 1 in 2 woman experienced lower self-esteem or loss of self confidence as well as stress, anxiety or panic attacks.</p>
        <p>The chartered Institutes of Marketers, Uk reported that 83% of woman had self-censored. This means that honest and open democratic conversation is being threatened. Woman fought hard for the right to vote - we cannot let ourselves be chased out of political engagement!</p>
      </div>
    </div>
  </div>
</div>
