@import "../../../variables.scss";

article {
  padding-top: 2rem;
}

.intro {
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  text-align: center;
}

.intro-h1 {
  width: 25rem;
  margin: auto;
}

.column-single-left {
  width: 40%;
  margin-left: 5%;
  margin-right: auto;
}

.column-single-right {
  width: 40%;
  margin-left: auto;
  margin-right: 5%;
}

aside {
  color: $secondary;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  filter: drop-shadow(0px 2px 1px $textGray1);
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column-third {
  flex-basis: 31%;
  text-align: center;
  h2 {
    font-weight: 400;
  }
}
