@import "../../../variables.scss";


.intro {
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  //padding-top: 4rem;
  text-align: center;
  .button-primary {
    background-color: $primary;
    color: $textBlack;
  }
}

.intro-h1 {
  width: 25rem;
}

.column-single-left {
  width: 42%;
  margin-left: 4%;
  margin-right: auto;
}

.column-single-right {
  width: 42%;
  margin-left: auto;
  margin-right: 4%;

}

aside {
  color: $secondary;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  filter: drop-shadow(0px 2px 1px $textGray1);
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column-third {
  box-sizing: border-box;
  flex-basis: 31%;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  h2 {
    font-weight: 400;
  }
  img {
    margin: 1rem auto;
    width: 45%;
    height: auto;
    object-fit: contain;
    overflow:hidden;
  }
}

.howItWorks {
  box-sizing: border-box;
  object-fit: contain;
  width:100%;
  height:100%;
  margin: auto;
  padding: 6rem;
}

.centered {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
