<div class="single-page">
  <div class="container-text border-left">
    <h1>Why we exists</h1>
    <p>
      We exists because woman are disproportionally suffering threatening and abusive behavior online - simple because
      they dare to voice their opinions. This sexist abuse violates human rights: including the right to security of
      person, the right to non-discrimination, and the right to freedom of expresion and opinion.
    </p>
  </div>
  <div class="container-columns">
    <div class="column">
      <div class="extender-div-1 border-left"></div>
      <h1 class="aside-h1">62%</h1>
      <p class="aside-p">of woman surveyed reported that they had experienced abuse on Twitter</p>
      <small class="aside-small">*Amnesty International 2017</small>
    </div>
    <div class="column side-text">
      <h3>Online Misogyny</h3>
      <p class="border-right">
        Online sexual harassment, hate-speech, online VAWG (violence against woman and girls), technologically mediated
        violence... there are many names for what we are fighting against!
      </p>
      <p class="border-right">
        There are also multiple definitions. What is offensive or abusive to one woman might not be for the next. Hate
        speech is nuanced, and what can be abuse in one context, may be non-threatening in another.
      </p>
      <p class="border-right">
        Victims of online misogyny experience a sense of fear and attack on their integrity. Amnesty international found
        that of woman who experience abuse or harassment online, 41% od responding woman felt that their physical safety
        was threatened and 1 in 2 woman experienced low self-esteem or loss of self confidence as well as stress,
        anxiety or panic attacks.
      </p>
      <p class="border-right">
        The Chartered Institute of Marketeers UK reported that 83% of woman had self-censored when posting opinions
        online in ordered to avoid harassment. This means that honest and open democratic conversation is being
        threatened. Woman fought hard for the right to vote - we cannot let ourselves be chased out of political
        engagement.
      </p>
    </div>
  </div>

</div>

