<div class="about-us-page">

  <div class="text side-border-left">
    <div class="container">
      <h1>Why we exists</h1>
      <p>
        We exists because woman are disproportionally suffering threatening and abusive behavior online - simple because they dare to voice their opinions. This sexist abuse violates human rights: including the right to security of person, the right to non-discrimination, and the right to freedom of expresion and opinion.
      </p>
    </div>
  </div>
  <div class="text">
    <div class="container">
      <aside>
        <h1>62%</h1>
        <p>of woman surveyed reported that they had experienced abuse on Twitter.</p>
        <small>*Amnesty International 2017</small>
      </aside>
      <div class="side-text side-border-right">
        <h2>Online sex harassment</h2>
        <p>Online sexual harassment, hate-speech, online VAWG (violence against woman and girls), technologically mediated violence... there are many names for what we are fighting!</p>
        <p>There are also multiple definitions. What is offensive or abusive to one woman might not be for the next. hate speech is nuanced, and what can be abuse in one context, may be non-threatening in another.</p>
      </div>
    </div>
  </div>

</div>

