div.about-us-page {
  height:calc(100vh - 100px);
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2E3532;
  margin-top: 100px;
}

h1 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}


div.text {
  display: block;
  margin: 50px 20px;
  padding: 0 15px;
}

div.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

aside {
  flex-basis: 200px;
}

div.side-text {
  width: calc(100% - 220px)
}

div.column {
  flex-basis: 24%;
  text-align: center;
  min-width:160px;
}

div.column > img {
  width: 150px;
}

div.column > p{
  font-size: 14px;
  line-height:20px;
  text-align: left;
}

.side-border-left {
  border-left: 2px solid black;
}

.side-border-right {
  border-right: 2px solid black;
}
