@import "../../../variables.scss";

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 40rem;
  margin: 0 auto;
  //border-radius: 10px;
  //box-shadow: 3px 15px 30px -8px #9e9eab;
  text-align: center;
  flex: 1;
  box-shadow: 3px 13.8611px 10px #DADADA;
  border-radius: 8.31667px;
  @media (max-width: $cross2) {
    height: 20rem;
    width: 30rem;
  }
}


.carousel-item {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  object-fit: cover;
  // zoom effect on hover
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}


.control {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover, &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid $primary;
  border-bottom: 0.1em solid $primary;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

.slider {
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    background: $gray;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    cursor: pointer;
  }
  a.current {
    background: green;
    width: 1.6rem;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }
}


