<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ng-container *ngFor="let item of items; let i = index">
      <div *ngIf="i === currentSlide" class="carousel-item" @carouselAnimation>
        <h2>{{item.title}}</h2>
        <p>"{{item.text}}"</p>
      </div>
    </ng-container>
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
</section>

<div class="slider centered">
  <ng-container *ngFor="let item of items; let i = index">
    <a href=""></a>
  </ng-container>
</div>

