<div class="single-page">
  <div class="group">
    <h1>Our tools</h1>
    <p>Our first tools is a browser extension. It will remove threatening, sexist and offensive materials from your personal twitter feed, allowing you to cut trough the noise and focus on healthy debate!</p>
    <p>It uses machine learning and sentiment analysis, meaning that it is able to understand complex abusive phrases.</p>
    <p>We're want to lighten the load of emotional labour. Research shows that when handling abuse, victims ask friends and family to help them to screen their social media to protect them from the emotional distress. Opt-Out will hide any text it considers to be abusive, and code it to relation to a traffic light system. If you don't want to read it, you don't have to. It will archive the abuse, so there will be records to support reporting to moderators and police.</p>
    <button></button>
  </div>
</div>

