/* You can add global styles to this file, and also import other style files */
/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* imports */
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "./variables.scss";

/* universal */
@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Roman.otf') format("truetype");
  font-weight:400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('/assets/fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Bd.otf') format("truetype");
  font-weight:500;
}

html {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
}


section {
  overflow: auto;
}

textarea {
  resize: both;
}

body {
  //background: linear-gradient(0deg, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.76)), url('/assets/img/OptOutLogo-04.svg') repeat-y bottom right;
  background-size: contain;
  margin: 0;
}

div#scroller {
  scroll-snap-type: y mandatory;
}

@-moz-document url-prefix() {
  div#scroller {
    overflow-y: scroll;
  }
}

article {
  box-sizing: border-box;
  height: calc(100vh - calc(#{$headHeight+$footHeight}));
  margin: $headHeight $margin calc(#{$headHeight+$footHeight});
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2E3532;
  scroll-snap-align: end;
}

article:last-of-type {
  margin-bottom: $footHeight;
}

footer {
  margin: auto;
}

footer img {
  padding: 22px 29px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h1, h2, h3, p {
  font-family: Ubuntu, sans-serif;

}
p {
   line-height: 1.5rem;
}

.button-primary {
  width: 12rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 0.8rem;
  background-color: $secondary;
  color: $white;
  border-radius: 2rem;
  border-style: solid;
  border-color: $secondary;
  outline: none;
  cursor: pointer;
}

