$primary: #10CFC9;
$secondary: #6C1782;
$highlight: #E99611;
$gray: #F1F1F2;
$white: #FFFFFF;
$headHeight: 5rem;
$margin: 5rem;
$footHeight: 5rem;
$margin: 5rem;
$textBlack: #222222;
$textGray1: #73738d;
$textGray2: #4f4f4f;


