$desktop1: 1024px;
$desktop2: 1440px;
$desktop3: 1920px;
$desktop4: 2560px;
$phone1: 320px;
$phone2: 360px;
$phone3: 375px;
$phone4: 480px;
$phone5: 640px;
$tablet1: 768px;
$tablet2: 850px;

$primary: #10CFC9;
$secondary: #6C1782;
$highlight: #E99611;
$gray: #DBE5F1;
$white: #FFFFFF;
$headHeight: 5rem;
$margin: 5rem;
$footHeight: 5rem;
$margin: 5rem;
$textBlack: #222222;
$textGray1: #73738d;
$textGray2: #4f4f4f;

