<div class="home">
  <img src="../../assets/img/OptOutLogo-03.svg" alt="" />
  <div id="home-text">
    <h1>50% TECH, 50% ACTIVISM.</h1>
    <p>We believe that woman should have <strong>equal access</strong> to digital spaces.</p>
    <p>We are building to keep ourselves safer on social media.<br />
      We are starting <strong>conversations</strong> about <strong>women's rights</strong> online.<br />
      We are tired of online misogyny.</p>
    <p>It's time to <strong>Opt Out</strong>.</p>
  </div>

  <div id="button-holder">
    <button routerLink="/report" id="report_button">
      Submit a report
    </button>
    <button id="share_button">
      Spread the word
    </button>
  </div>
</div>


