<div appScroller id="scroller">
  <article>
    <h2>How do I get the OOT browser extension?</h2>
    <p>
      Just like any other browser extension! It is available for download in the Firefox add-ons library. That
      means you have to use Firefox to use it though.
    </p>
    <h2>What does it mean that the OOT browser extension is an alpha version?</h2>
    <p>
      It means that browser extension does not have all the functionality that it will one day have. It also means that
      our feminist machine learning model is not at it’s best yet! B ut we’re working hard to improve it.
    </p>
    <h2>Is the OOT browser extension available for other browsers than Firefox?</h2>
    <p>Not at the moment, but in the future we’ll try.</p>
    <h2>Why is OOT only focusing on misogynistic harassment and not online harassment in general?</h2>
    <p>
      We see misogyny in an online context as pretty gender-neutral. It can come from anyone, and although it mostly
      affects women, other people can be affected too as insults are very often gendered. In this sense, misogyny is a
      pretty universal tool used to silence people. You can find more information about how we define online misogyny on
      our Research page .
    </p>
    <h2>How does the OOT browser extension make the difference between hateful speech and sarcasm/banter?</h2>
    <p>
      It can’t yet. However we’re working to make the OOT browser extension not only look at the content of a tweet, but
      also at who sent it and at the whole conversation to understand if a term is intended as an insult or if it is
      just banter between two friends. In other words, it won’t hide consensual content! You can find more information
      about our machine learning model on the Tech page.
    </p>
  </article>
  <article>
    <h2>Why not simply report abuses to Twitter instead of hiding content?</h2>
    <p>
      Users can already report abusive tweets to Twitter if they feel it’s appropriate. However, this does not prevent
      the anxiety and pain the user experiences when exposed to online harassment. Our goal is to prevent this. In the
      future, we would also like to research ways of helping users report abusive tweets in countries where the process
      is currently complicated.
    </p>
    <h2>But what about freedom of speech? Isn’t it censorship to hide content that way?</h2>
    <p>
      The OOT browser extension is consent-based, not censorship-based. Content is never removed, it is just not visible
      to the user who is using the browser extension.
    </p>
    <p>
      We’re also designing the browser extension so that you can give feedback to it, so it’s you that’s deciding what
      you do and don’t see.
    </p>
  </article>
</div>
